footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 196px;
    padding-top: 47px;
    border-bottom: 5px solid var(--border-topnav-color);
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--main-bg-color);

    .footer-social-container {
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: var(--text-footer-color);
            letter-spacing: 0;
            text-align: center;
        }

        .social-icon-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            width: 100px;
            padding-top: 24px;

            a {
                text-decoration: none;
            }

            .facebook-icon {
                @include loadSocialMediaIcon(var(--icon-facebook-normal));

                &:hover {
                    background-image: var(--icon-facebook-hover);
                }
            }
    
            .twitter-icon {
                @include loadSocialMediaIcon(var(--icon-twitter-normal));

                &:hover {
                    background-image: var(--icon-twitter-hover);
                }
            }
    
            .instagram-icon {
                @include loadSocialMediaIcon(var(--icon-instagram-normal));

                &:hover {
                    background-image: var(--icon-instagram-hover);
                }
            }
        }
    }

    .brand-container {
        padding-top: 46px;

        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: var(--text-footer-color);
            letter-spacing: 0;
            line-height: 20px;
            text-align: center;
        }
    }
}