header {
    .topnav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
        background-color: var(--main-bg-color);
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        border-top: 5px solid var(--border-topnav-color);
        box-shadow: none;

        .logo-container {
            width: 48.8px;
            height: 48.8px;
            background-image: var(--mobile-logo);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 15px;
            margin-left: 22px;
            text-decoration: none;
        }

        .search-bar-container {
            display: none;
        }

        nav {
            padding-right: 22px;

            input {
                position: absolute;
                width: 15px;
                height: 15px;
                opacity: 0;
                cursor: pointer;
                z-index: 50;

                &:checked ~ div {
                    &:first-of-type {
                        -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
                        transform: rotate(-45deg) translate(-3.5px, 3.5px);
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        -webkit-transform: rotate(45deg) translate(-3.5px, -3.5px);
                        transform: rotate(45deg) translate(-3.5px, -3.5px);
                    }
                }

                // checkbox hack
                &:checked ~ ul {
                    max-height: 100vh; // show the navbar items from 0px -> 100vh with a transition
                    height: 100vh;
                    transition: all 0.5s;
                }
            }

            .bar1, .bar2, .bar3 {
                width: 15px;
                height: 2.5px;
                background-color: var(--border-color);
                margin: 2.25px 0;
                transition: 0.4s;
            }

            ul {                
                position: absolute;
                top: 90px; // move 95px from the top (which is the height of the topnavbar + top border)
                left: 0;
                width: 100%;
                background-color: var(--menu-mobile-bg-color);
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 0; // start hidden
                overflow: hidden;

                .link {
                    list-style-type: none;

                    &.link-desktop {
                        display: none;
                    }

                    &.link-mobile {
                        display: block;
                    }

                    a {
                        color: $white-color;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 60px;
                        text-decoration: none;
                        position: relative;
                        padding-bottom: 2px;

                        &::after {    
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: $green-color;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }

                        &:hover {
                            &::after { 
                                width: 100%; 
                                left: 0; 
                            }
                        }

                        &:active {
                            color: $gray-color;
                        }
                    }
                }

                .menu-separate-line {
                    opacity: 0.5;
                    border: 1px solid $white-color;
                    width: 41px;
                    background-color: $white-color;
                    list-style-type: none;
                }

                .button-link {
                    list-style-type: none;

                    .create-gifo-button {
                        display: none;
                    }
                }
            }
        }
    }
}