main {
    position: relative;
    background-color: var(--main-bg-color);

    // -------------------- START PRESENTATION SECTION --------------------
    .presentation-section {
        padding-top: 102px;
        
        .main-title-container {
            width: 286px;
            height: 99px;
            position: relative;
            @extend %centerX;
            margin-bottom: 31px;
            
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 25px;
                color: var(--main-letter-color);
                text-align: center;
                line-height: 33px;
                
                span {
                    color: $green-color;
                }
            }
        }

        .hero-image {
            display: flex;
            position: relative;
            @extend %centerX;
            min-width: 273px;
            height: 130px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .search-bar-container {
            display: flex;
            position: relative;
            @extend %centerX;
            max-width: 334px;
            margin-bottom: 100px;
            z-index: 99;

            .search-bar {
                position: absolute;
                background: var(--main-bg-color);
                width: 100%;
                border: 1px solid var(--border-color);
                border-radius: 27px;

                input {
                    height: 50px;
                    width: 100%;
                    background: transparent;
                    outline: none;
                    border-radius: 27px;
                    padding: 0px 55px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--search-letter-color);
                    text-align: left;
    
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: $gray-color;
                    }
    
                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }
    
                    &::-webkit-search-cancel-button {
                        -webkit-appearance: none; // none for removing the X
                    }
                }

                .search-bar-bottom-line {
                    position: relative;
                    @extend %centerX;
                    width: 300px;
                    opacity: 0.5;
                    height: 0.5px;
                    background-color: $gray-color;
                    display: none;
                }

                .autocomplete-box {
                    overflow-y: auto;

                    .autocomplete-suggestion {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        text-align: left;
                        padding: 8px 12px;
                        width: 105%;
                        border-radius: 3px;
                        cursor: default;
                        list-style-image: var(--icon-search);
                        opacity: 0.5;
                        cursor: default;
                        transform: scale(0.85);
                        color: var(--search-letter-color);

                        &:hover {
                            background: var(--search-letter-color-hover-bg);
                        }
                    }
                }
            }

            .search-icon {
                position: absolute;
                left: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: var(--icon-search);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0.6;
                display: none;
                cursor: pointer;

                &:active {
                    transform: scale(0.90);
                }
            }

            .search-toggle-icon {
                position: absolute;
                right: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: var(--icon-search);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .cancel-search-icon {
                position: absolute;
                right: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: var(--icon-close);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transform: scale(0.90);
                cursor: pointer;
                display: none;
            }
        }
    } // -------------------- END PRESENTATION SECTION --------------------

    // -------------------- START TRENDING TERMS SECTION --------------------
    .trending-terms-section {
        position: relative;
        @extend %centerX;
        margin-top: 31px;
        z-index: 1;

        .trending-title-container {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 16px;
                color: var(--main-letter-color);
                text-align: center;
                line-height: 25px;
            }
        }

        .trending-terms-container {
            position: relative;
            @extend %centerX;
            width: 225px;
            height: auto;

            .trending-search-term {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: var(--main-letter-color);
                text-align: center;
                line-height: 25px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    color: $gray-color;
                }
            }

            span {
                color: var(--main-letter-color);
            }
        }
    } // -------------------- END TRENDING TERMS SECTION --------------------

    // -------------------- START SEARCH RESULTS SECTION --------------------
    .search-results-section {
        .search-result-separator {
            position: relative;
            @extend %centerX;
            opacity: 0.5;
            border: 1px solid $gray-color;
            background-color: $gray-color;
            width: 157px;
            margin-top: 35px;
            margin-bottom: 43px;
            display: none;
        }

        .search-result-title {
            position: relative;
            @extend %centerX;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.5625em; // 25px
            color: var(--main-letter-color);
            text-align: center;
            line-height: 40px;
            margin-bottom: 38px;
            display: none;
        }

        .search-result-container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, minmax(120px, 250px));
            justify-content: center;
            gap: 25px;
            padding: 0 20px;

            .gif-container {
                position: relative;
                height: 120px;
                width: 100%;
                overflow: hidden;

                .gif {
                    height: 100%;
                    width: 100%;
                }

                .gif-user {
                    display: none;
                }
    
                .gif-title {
                    display: none;
                }
            }

            .no-results-container {
                margin-top: 100px;
                margin-bottom: 150px;
                grid-column: 1 / span 2;
                justify-content: stretch;
                align-content: stretch;

                img {
                    height: 150px;
                    width: 100%;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    color: $green-color;
                    text-align: center;
                    line-height: 25px;
                    margin-top: 30px;
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            margin: 39px 0px;

            .show-more-home {
                width: 127px;
                height: 50px;
                border: 1px solid var(--border-color);
                border-radius: 25px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 13px;
                background-color: var(--show-more-bttn-bg);
                color: var(--show-more-bttn-color);
                letter-spacing: 0;
                text-align: center;
                display: none;
    
                &:hover {
                    color: var(--show-more-bttn-hover-color);
                    background-color: var(--show-more-bttn-hover-bg);
                    cursor: pointer;
                }
                
                &:active {
                    transform: scale(0.98);
                }
    
                &:focus {
                    outline: none;
                }

                &:disabled {
                    color: red;
                    border: 1px solid red;
                }
            }
        }
    } // -------------------- END SEARCH RESULTS SECTION --------------------

    // -------------------- START FAVORITES SECTION --------------------
    .favorites-search-section {
        padding-top: 107px;
        
        .favorites-title-container {
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;

            img {
                height: 21px;
                width: 28px;
                margin-bottom: 7px;
            }

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
                color: var(--main-letter-color);
                text-align: center;
                line-height: 30px;
                margin-bottom: 46px;
            }
        }

        .favorites-result-container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, minmax(120px, 250px));
            justify-content: center;
            gap: 25px;
            padding: 0 20px;

            .gif-container {
                position: relative;
                height: 120px;
                width: 100%;
                overflow: hidden;

                .gif {
                    height: 100%;
                    width: 100%;
                }

                .gif-user {
                    display: none;
                }
    
                .gif-title {
                    display: none;
                }
            }

            .no-results-container {
                margin-top: 100px;
                margin-bottom: 150px;
                grid-column: 1 / span 2;
                justify-content: stretch;
                align-content: stretch;

                img {
                    height: 150px;
                    width: 100%;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    color: $green-color;
                    text-align: center;
                    line-height: 25px;
                    margin-top: 30px;
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            margin: 78px 0px;

            .show-more-favorites {
                width: 127px;
                height: 50px;
                border: 1px solid var(--border-color);
                border-radius: 25px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 13px;
                background-color: var(--show-more-bttn-bg);
                color: var(--show-more-bttn-color);
                letter-spacing: 0;
                text-align: center;
                display: none;
    
                &:hover {
                    color: var(--show-more-bttn-hover-color);
                    background-color: var(--show-more-bttn-hover-bg);
                    cursor: pointer;
                }
                
                &:active {
                    transform: scale(0.98);
                }
    
                &:focus {
                    outline: none;
                }

                &:disabled {
                    color: red;
                    border: 1px solid red;
                }
            }
        }
    } // -------------------- END FAVORITES SECTION --------------------

    // -------------------- START MODAL --------------------
    .modal {
        display: none; // Hidden by default
        justify-items: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 9999;
        padding: 160px 28px 50px 28px;
        left: 0;
        top: 0;
        width: 100%; // Full width
        height: 100%; // Full height
        overflow: auto; // Enable scroll if needed
        background-color: var(--main-bg-color);

        .close-modal-icon {
            position: absolute;
            top: 10%;
            right: 28px;
            background-image: var(--icon-close);
            background-repeat: none;
            background-size: contain;
            height: 15.2px;
            width: 15.2px;
            cursor: pointer;

            &:active {
                transform: scale(0.98);
            }
        }

        .modal-img {
            width: 100%;
            height: 245px;
        }

        .modal-footer {
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            padding: 27px 0px;

            .modal-titles-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .modal-username {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    color: var(--modal-letter-color);
                    text-align: left;
                }
    
                .modal-title {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: var(--modal-letter-color);
                    text-align: left;
                }
            }

            .modal-icons-container {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                .icon-fav-false {
                    @include loadGifIcon("../../../assets/images/icon/icon-fav.svg");
                    opacity: 0.7;
                    margin-left: 21px;
            
                    &:hover {
                        background-image: url("../../../assets/images/icon/icon-fav-hover.svg");
                        background-color: #FFFFFF;
                        opacity: 1;
                    }
            
                    &:active {
                        background-image: url("../../../assets/images/icon/icon-fav-active.svg");
                        background-color: #FFFFFF;
                        transform: scale(0.98);
                    }
                }

                .icon-fav-true {
                    @include loadGifIcon("../../../assets/images/icon/icon-fav-active.svg");
                    opacity: 0.9;
                    margin-left: 21px;
            
                    &:hover {
                        background-image: url("../../../assets/images/icon/icon-fav-active.svg");
                        background-color: #FFFFFF;
                        opacity: 1;
                    }
            
                    &:active {
                        background-image: url("../../../assets/images/icon/icon-fav.svg");
                        background-color: #FFFFFF;
                        transform: scale(0.98);
                    }
                }

                .icon-download {
                    @include loadGifIcon("../../../assets/images/icon/icon-download.svg");
                    opacity: 0.7;
                    margin-left: 21px;
            
                    &:hover {
                        background-image: url("../../../assets/images/icon/icon-download-hover.svg");
                        background-color: #FFFFFF;
                        opacity: 1;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }
            }
        }
    } // -------------------- END MODAL --------------------

    // -------------------- START TRENDING GIFOS SECTION --------------------
    .trending-gifos-section {
        position: relative;
        background-color: var(--trending-gifos-bg-color);
        margin-top: 45px;
        padding-bottom: 82px;

        .trending-gifos-title-container {
            position: relative;
            @extend %centerX;
            padding-top: 45px;
            
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
                color: var(--main-letter-color);
                text-align: center;
                line-height: 30px;
                margin-bottom: 7px;
            }

            .last-gifos-mobile {
                display: inline-block;
            }

            .last-gifos-desktop {
                display: none;
            }

            p {
                position: relative;
                @extend %centerX;
                width: 333px;
                height: 46px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: var(--p-trending-color);
                text-align: center;
                line-height: 23px;
            }
        }

        .trending-gifos-container {
            position: relative;
            margin-top: 32px;

            .trending-gifos-slider {
                white-space: nowrap;
                overflow-x: auto;
                padding: 10px;
                width: 100%;

                -ms-overflow-style: none;  // hide scrollbar IE and Edge
                scrollbar-width: none;  // hide scrollbar Firefox

                &::-webkit-scrollbar {
                    display: none; // hide scrollbar Chrome, Safari, Opera
                }
                
                .gif-container {
                    display: inline-block;
                    position: relative;
                    height: 187px;
                    width: 243px;
                    overflow: hidden;
                    margin-right: 22px;
    
                    .gif {
                        height: 100%;
                        width: 100%;
                    }
    
                    .gif-user {
                        display: none;
                    }
        
                    .gif-title {
                        display: none;
                    }
                }
            }

            .prev-button {
                display: none;
            }

            .next-button {
                display: none;
            }
        }
    } // -------------------- END TRENDING GIFOS SECTION --------------------
}