main {
    position: relative;

    // -------------------- START PRESENTATION SECTION --------------------
    .presentation-section {
        padding-top: 102px;

        .main-title-container {
            width: 286px;
            height: 99px;
            position: relative;
            @extend %centerX;
            margin-bottom: 31px;
            
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 25px;
                color: $violet-color;
                text-align: center;
                line-height: 33px;
                
                span {
                    color: $green-color;
                }
            }
        }

        .hero-image {
            display: flex;
            position: relative;
            @extend %centerX;
            min-width: 273px;
            height: 130px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .search-bar-container {
            display: flex;
            position: relative;
            @extend %centerX;
            max-width: 334px;
            margin-bottom: 100px;
            z-index: 99;

            .search-bar {
                position: absolute;
                background: $white-color;
                width: 100%;
                border: 1px solid $violet-color;
                border-radius: 27px;

                input {
                    height: 50px;
                    width: 100%;
                    background: transparent;
                    outline: none;
                    border-radius: 27px;
                    padding: 0px 55px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: $black-color;
                    text-align: left;
    
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: $gray-color;
                    }
    
                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }
    
                    &::-webkit-search-cancel-button {
                        -webkit-appearance: none; // none for removing the X
                    }
                }

                .autocomplete-box {
                    padding: 10px 10px 15px 43px;
                    overflow-y: auto;
                    // opacity: 0;
                    // pointer-events: none;

                    li {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        color: $gray-color;
                        text-align: left;
                        padding: 8px 12px;
                        width: 100%;
                        border-radius: 3px;
                        list-style-type: none;
                        cursor: default;
                        // display: none;

                        &:hover {
                            background: #efefef;
                        }
                    }
                }
            }

            .search-icon {
                position: absolute;
                left: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: url("../../../assets/images/icon/icon-search.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0.6;
                display: none;
                cursor: pointer;

                &:active {
                    transform: scale(0.90);
                }
            }

            .search-toggle-icon {
                position: absolute;
                right: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: url("../../../assets/images/icon/icon-search.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                cursor: pointer;
            }

            .cancel-search-icon {
                position: absolute;
                right: 20px;
                top: 15px;
                height: 20px;
                width: 20px;
                background-image: url("../../../assets/images/icon/close.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transform: scale(0.90);
                cursor: pointer;
                display: none;
            }
        }
    } // -------------------- END PRESENTATION SECTION --------------------

    // -------------------- START TRENDING TERMS SECTION --------------------
    .trending-terms-section {
        position: relative;
        @extend %centerX;
        margin-top: 31px;
        z-index: 1;

        .trending-title-container {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 16px;
                color: $violet-color;
                text-align: center;
                line-height: 25px;
            }
        }

        .trending-terms-container {
            position: relative;
            @extend %centerX;
            width: 225px;
            height: auto;

            .trending-search-term {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: $violet-color;
                text-align: center;
                line-height: 25px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    color: $gray-color;
                }
            }
        }
    } // -------------------- END TRENDING TERMS SECTION --------------------

    // -------------------- START SEARCH RESULTS SECTION --------------------
    .search-results-section {
        .search-result-separator {
            position: relative;
            @extend %centerX;
            opacity: 0.5;
            border: 1px solid $gray-color;
            background-color: $gray-color;
            width: 157px;
            margin-top: 35px;
            margin-bottom: 43px;
            display: none;
        }

        .search-result-title {
            position: relative;
            @extend %centerX;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 25px;
            color: $violet-color;
            text-align: center;
            line-height: 40px;
            margin-bottom: 38px;
            display: none;
        }

        .search-result-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(120px, 250px));
            justify-content: center;
            gap: 25px;
            padding: 0 20px;

            .gif-container {
                position: relative;
                height: 120px;
                width: 100%;

                .gif {
                    height: 100%;
                    width: 100%;
                }
            }

            .gif-user {
                position: absolute;
                bottom: 80px;
                left: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 15px;
                color: $white-color;
                text-align: left;
                opacity: 0;
                display: none;
            }

            .gif-title {
                position: absolute;
                bottom: 40px;
                left: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 16px;
                color: $white-color;
                text-align: left;
                opacity: 0;
                height: 36px;
                display: none;
            }
        }
    } // -------------------- END SEARCH RESULTS SECTION --------------------

    // -------------------- START TRENDING GIFOS SECTION --------------------
    .trending-gifos-section {
        background-color: $smoke-color;
        margin-top: 45px;
        height: 430px;

        .trending-gifos-title-container {
            position: relative;
            @extend %centerX;
            padding-top: 45px;
            
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
                color: $violet-color;
                text-align: center;
                line-height: 30px;
                margin-bottom: 7px;
            }

            .last-gifos-mobile {
                display: inline-block;
            }

            .last-gifos-desktop {
                display: none;
            }

            p {
                position: relative;
                @extend %centerX;
                width: 333px;
                height: 46px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: $black-color;
                text-align: center;
                line-height: 23px;
            }
        }

        .trending-gifos-container {
            display: flex;
        }
    } // -------------------- END TRENDING GIFOS SECTION --------------------
}