/* ---------- Fonts ---------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/* ---------- Variables ---------- */
/* ---------- Placeholders ---------- */
main .presentation-section .main-title-container, main .presentation-section .hero-image, main .presentation-section .search-bar-container, main .trending-tags-section .trending-tags-container, main .trending-gifos-section .trending-gifos-title-container, main .trending-gifos-section .trending-gifos-title-container p {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* ---------- Mixins ---------- */
/* ---------- Global and Body ---------- */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ---------- Header ---------- */
header .topnav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  border-top: 5px solid #572EE5;
}

header .topnav-container .logo-container {
  width: 48.8px;
  height: 48.8px;
  margin-top: 15px;
  margin-left: 22px;
  text-decoration: none;
}

header .topnav-container .logo-container .logo-img {
  width: 100%;
}

header .topnav-container nav {
  padding-right: 30px;
}

header .topnav-container nav input {
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0;
  cursor: pointer;
  z-index: 50;
}

header .topnav-container nav input:checked ~ div:first-of-type {
  -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
  transform: rotate(-45deg) translate(-3.5px, 3.5px);
}

header .topnav-container nav input:checked ~ div:nth-of-type(2) {
  opacity: 0;
}

header .topnav-container nav input:checked ~ div:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-3.5px, -3.5px);
  transform: rotate(45deg) translate(-3.5px, -3.5px);
}

header .topnav-container nav input:checked ~ ul {
  max-height: 1000px;
  height: 10000px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .topnav-container nav .bar1, header .topnav-container nav .bar2, header .topnav-container nav .bar3 {
  width: 15px;
  height: 2.5px;
  background-color: #572EE5;
  margin: 2.25px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .topnav-container nav ul {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: #572EE5;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0;
  overflow: hidden;
}

header .topnav-container nav ul .link {
  list-style-type: none;
}

header .topnav-container nav ul .link.link-desktop {
  display: none;
}

header .topnav-container nav ul .link.link-mobile {
  display: block;
}

header .topnav-container nav ul .link a {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

header .topnav-container nav ul .link a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #5ED7C6;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header .topnav-container nav ul .link a:hover::after {
  width: 100%;
  left: 0;
}

header .topnav-container nav ul .link a:active {
  color: #9CAFC3;
}

header .topnav-container nav ul .menu-separate-line {
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  width: 41px;
  background-color: #FFFFFF;
  list-style-type: none;
}

header .topnav-container nav ul .button-link {
  list-style-type: none;
}

header .topnav-container nav ul .button-link .create-gifo-button {
  display: none;
}

/* ---------- Main ---------- */
main {
  position: relative;
}

main .presentation-section {
  padding-top: 102px;
}

main .presentation-section .main-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 286px;
  height: 99px;
  position: relative;
  margin-bottom: 31px;
}

main .presentation-section .main-title-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
}

main .presentation-section .main-title-container h1 span {
  color: #5ED7C6;
}

main .presentation-section .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 273px;
  height: 130px;
}

main .presentation-section .hero-image img {
  width: 100%;
  height: auto;
}

main .presentation-section .search-bar-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
  height: 50px;
}

main .presentation-section .search-bar-container input {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding-left: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

main .presentation-section .search-bar-container input:focus {
  outline: none;
}

main .presentation-section .search-bar-container .search-autocomplete-icon {
  position: absolute;
  left: 20px;
  top: 15px;
  height: 20px;
  width: 20px;
  background-image: url("../../../assets/images/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.6;
  display: none;
}

main .presentation-section .search-bar-container .search-toggle-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  height: 20px;
  width: 20px;
  background-image: url("../../../assets/images/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

main .trending-tags-section {
  margin-top: 31px;
}

main .trending-tags-section .trending-title-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

main .trending-tags-section .trending-tags-container {
  position: relative;
  width: 225px;
}

main .trending-tags-section .trending-tags-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

main .search-results-section .search-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .trending-gifos-section {
  background-color: #F3F5F8;
  margin-top: 45px;
  height: 430px;
}

main .trending-gifos-section .trending-gifos-title-container {
  position: relative;
  padding-top: 45px;
}

main .trending-gifos-section .trending-gifos-title-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-bottom: 7px;
}

main .trending-gifos-section .trending-gifos-title-container .last-gifos-mobile {
  display: inline-block;
}

main .trending-gifos-section .trending-gifos-title-container .last-gifos-desktop {
  display: none;
}

main .trending-gifos-section .trending-gifos-title-container p {
  position: relative;
  width: 333px;
  height: 46px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

main .trending-gifos-section .trending-gifos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ---------- Footer ---------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 196px;
  padding-top: 47px;
}

footer .footer-social-container h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

footer .footer-social-container .social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  padding-top: 24px;
}

footer .footer-social-container .social-icon-container a {
  text-decoration: none;
}

footer .footer-social-container .social-icon-container .facebook-icon {
  height: 20px;
  width: 20px;
  background-image: url("../../../assets/images/icon/icon_facebook.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

footer .footer-social-container .social-icon-container .facebook-icon:hover {
  background-image: url("../../../assets/images/icon/icon_facebook_hover.svg");
}

footer .footer-social-container .social-icon-container .twitter-icon {
  height: 20px;
  width: 20px;
  background-image: url("../../../assets/images/icon/icon-twitter.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

footer .footer-social-container .social-icon-container .twitter-icon:hover {
  background-image: url("../../../assets/images/icon/icon-twitter-hover.svg");
}

footer .footer-social-container .social-icon-container .instagram-icon {
  height: 20px;
  width: 20px;
  background-image: url("../../../assets/images/icon/icon_instagram.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

footer .footer-social-container .social-icon-container .instagram-icon:hover {
  background-image: url("../../../assets/images/icon/icon_instagram-hover.svg");
}

footer .brand-container {
  padding-top: 46px;
}

footer .brand-container h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

/* ---------- Media queries ---------- */
@media screen and (min-width: 980px) {
  header .topnav-container .logo-container {
    width: 59.1px;
    height: 59.1px;
    margin-top: 15px;
    margin-left: 156px;
    text-decoration: none;
  }
  header .topnav-container nav {
    margin-right: 156px;
  }
  header .topnav-container nav .input {
    display: none;
  }
  header .topnav-container nav .bar1, header .topnav-container nav .bar2, header .topnav-container nav .bar3 {
    display: none;
  }
  header .topnav-container nav ul {
    position: relative;
    top: 5px;
    max-height: 95px;
    background-color: transparent;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .topnav-container nav ul .link.link-desktop {
    display: block;
  }
  header .topnav-container nav ul .link.link-mobile {
    display: none;
  }
  header .topnav-container nav ul .link a {
    color: #572EE5;
    font-size: 13px;
    margin-left: 40px;
  }
  header .topnav-container nav ul .menu-separate-line {
    display: none;
  }
  header .topnav-container nav ul .button-link .create-gifo-button {
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-image: url("../../../assets/images/cta/CTA-button-crear-gifo.svg");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    /* Resize the background image to cover the entire container */
    cursor: pointer;
    margin-left: 40px;
  }
  header .topnav-container nav ul .button-link .create-gifo-button:hover {
    background-image: url("./../../../assets/images/cta/CTA-crear-gifo-hover.svg");
  }
  header .topnav-container nav ul .button-link .create-gifo-button:active {
    background-image: url("./../../../assets/images/cta/CTA-crear-gifo-active.svg");
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  main .presentation-section {
    padding-top: 140px;
  }
  main .presentation-section .main-title-container {
    width: 600px;
    height: 100px;
    margin-bottom: 24px;
  }
  main .presentation-section .main-title-container h1 {
    font-size: 35px;
    line-height: 50px;
  }
  main .presentation-section .hero-image {
    width: 399px;
    height: 190px;
  }
  main .presentation-section .search-bar-container {
    width: 551px;
  }
  main .trending-tags-section {
    margin-top: 31px;
  }
  main .trending-tags-section .trending-title-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
  }
  main .trending-tags-section .trending-tags-container {
    width: 402px;
  }
  main .trending-tags-section .trending-tags-container p {
    font-size: 16px;
  }
  main .trending-gifos-section {
    background-color: #F3F5F8;
    margin-top: 45px;
    height: 640px;
  }
  main .trending-gifos-section .trending-gifos-title-container {
    padding-top: 67px;
  }
  main .trending-gifos-section .trending-gifos-title-container h2 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  main .trending-gifos-section .trending-gifos-title-container .last-gifos-mobile {
    display: none;
  }
  main .trending-gifos-section .trending-gifos-title-container .last-gifos-desktop {
    display: inline-block;
  }
  main .trending-gifos-section .trending-gifos-title-container p {
    width: 400px;
    height: 21px;
    font-size: 18px;
  }
  main .trending-gifos-section .trending-gifos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 116px;
    padding: 0 155px;
  }
  footer .footer-social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-social-container h3 {
    font-size: 13px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .footer-social-container .social-icon-container {
    padding: 0;
  }
  footer .brand-container {
    padding: 0;
  }
  footer .brand-container h3 {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */