@media screen and (min-width: 980px) {

    // -------------------- START HEADER --------------------
    header {
        .topnav-container {
    
            .logo-container {
                width: 59.1px;
                height: 59.1px;
                margin-top: 15px;
                margin-left: 156px;
                text-decoration: none;
            }
            
            nav {
                margin-right: 156px;

                .input {
                    display: none;
                }

                .bar1, .bar2, .bar3 {
                    display: none;
                }

                ul {                
                    position: relative; // position the navbar
                    top: 5px;
                    max-height: 95px;
                    background-color: transparent;
                    opacity: 1;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    
                    .link {
                        &.link-desktop {
                            display: block;
                        }
                        
                        &.link-mobile {
                            display: none;
                        }
                        
                        a {
                            color: $violet-color;
                            font-size: 13px;
                            margin-left: 40px;
                        }
                    }

                    .menu-separate-line {
                        display: none;
                    }

                    .button-link {
                        .create-gifo-button {
                            display: block;
                            border-radius: 50%;
                            height: 55px;
                            width: 55px;
                            background-image: url("../../../assets/images/cta/CTA-button-crear-gifo.svg");
                            background-color: #cccccc; /* Used if the image is unavailable */
                            background-position: center; /* Center the image */
                            background-repeat: no-repeat; /* Do not repeat the image */
                            background-size: contain; /* Resize the background image to cover the entire container */
                            cursor: pointer;
                            margin-left: 40px;

                            &:hover {
                                background-image: url("./../../../assets/images/cta/CTA-crear-gifo-hover.svg");
                            }
                    
                            &:active {
                                background-image: url("./../../../assets/images/cta/CTA-crear-gifo-active.svg");
                                transform: scale(0.98);
                            }
                        }
                    }
                }
            }
        }
    } // -------------------- END HEADER --------------------

    // -------------------- START MAIN --------------------
    main {
        // -------------------- START PRESENTATION SECTION -------------------
        .presentation-section {
            padding-top: 140px;

            .main-title-container {
                width: 600px;
                height: 100px;
                margin-bottom: 24px;
                
                h1 {
                    font-size: 35px;
                    line-height: 50px;
                }
            }
    
            .hero-image {
                max-width: 399px;
                height: 190px;
            }

            .search-bar-container {
                width: 551px;
            }
        } // -------------------- END PRESENTATION SECTION -------------------

        // -------------------- START TRENDING TERMS SECTION --------------------
        .trending-terms-section {
            margin-top: 31px;

            .trending-title-container {
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: $violet-color;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .trending-terms-container {
                width: 600px;
                text-align: center;

                .trending-search-term {
                    font-size: 16px;
                }
            }
        } // -------------------- END TRENDING TERMS SECTION --------------------

        // -------------------- START TRENDING GIFOS SECTION --------------------
        .trending-gifos-section {
            background-color: $smoke-color;
            margin-top: 45px;
            height: 640px;

            .trending-gifos-title-container {
                padding-top: 67px;

                h2 {
                    font-size: 25px;
                    margin-bottom: 12px;
                }

                .last-gifos-mobile {
                    display: none;
                }
    
                .last-gifos-desktop {
                    display: inline-block;
                }

                p {
                    width: 400px;
                    height: 21px;
                    font-size: 18px;
                }
            }

            .trending-gifos-container {
                display: flex;
            }
        } // -------------------- END TRENDING GIFOS SECTION --------------------
    } // -------------------- END MAIN --------------------

    // -------------------- START FOOTER --------------------
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        height: 116px;
        padding: 0 155px;

        .footer-social-container {
            display: flex;
            flex-direction: row;

            h3 {
                font-size: 13px;
                align-self: center;
            }

            .social-icon-container {
                padding: 0;
            }
        }

        .brand-container {
            padding: 0;

            h3 {
                font-size: 13px;
            }
        }
    } // -------------------- END FOOTER --------------------
}