@media screen and (min-width: 600px) {
    main {
        // -------------------- START SEARCH RESULT SECTION --------------------
        .search-results-section {
            .search-result-container {
                grid-template-columns: repeat(3, minmax(180px, 300px));
                padding: 0 80px;

                .gif-container {
                    height: 160px;
                }

                .gif-user {
                    position: absolute;
                    bottom: 80px;
                    left: 18px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    color: $white-color;
                    text-align: left;
                    opacity: 0;
                    display: none;
                }

                .gif-title {
                    position: absolute;
                    bottom: 40px;
                    left: 18px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: $white-color;
                    text-align: left;
                    opacity: 0;
                    height: 36px;
                    display: none;
                }

                .no-results-container {
                    grid-column: 1 / span 3;
                }
            }
        } // -------------------- END SEARCH RESULT SECTION --------------------
    }
}

@media screen and (min-width: 980px) {

    // -------------------- START HEADER --------------------
    header {
        .topnav-container {
    
            .logo-container {
                width: 59.1px;
                height: 59.1px;
                // background-image: url(../../../assets/images/logo/logo-desktop.svg);
                background-image: var(--desktop-logo);
                margin-top: 15px;
                margin-left: 156px;
                text-decoration: none;
            }
            
            nav {
                margin-right: 156px;

                .input {
                    display: none;
                }

                .bar1, .bar2, .bar3 {
                    display: none;
                }

                ul {                
                    position: relative; // position the navbar
                    top: 5px;
                    max-height: 95px;
                    background-color: transparent;
                    opacity: 1;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    
                    .link {
                        &.link-desktop {
                            display: block;
                        }
                        
                        &.link-mobile {
                            display: none;
                        }
                        
                        a {
                            color: $violet-color;
                            font-size: 13px;
                            margin-left: 40px;
                        }
                    }

                    .menu-separate-line {
                        display: none;
                    }

                    .button-link {
                        .create-gifo-button {
                            display: block;
                            border-radius: 50%;
                            height: 55px;
                            width: 55px;
                            background-image: url("../../../assets/images/cta/CTA-button-crear-gifo.svg");
                            background-color: #cccccc; /* Used if the image is unavailable */
                            background-position: center; /* Center the image */
                            background-repeat: no-repeat; /* Do not repeat the image */
                            background-size: contain; /* Resize the background image to cover the entire container */
                            cursor: pointer;
                            margin-left: 40px;

                            &:hover {
                                background-image: url("./../../../assets/images/cta/CTA-crear-gifo-hover.svg");
                            }
                    
                            &:active {
                                background-image: url("./../../../assets/images/cta/CTA-crear-gifo-active.svg");
                                transform: scale(0.98);
                            }
                        }
                    }
                }
            }
        }
    } // -------------------- END HEADER --------------------

    // -------------------- START MAIN --------------------
    main {
        // -------------------- START PRESENTATION SECTION -------------------
        .presentation-section {
            padding-top: 140px;

            .main-title-container {
                width: 600px;
                height: 100px;
                margin-bottom: 24px;
                
                h1 {
                    font-size: 35px;
                    line-height: 50px;
                }
            }
    
            .hero-image {
                max-width: 399px;
                height: 190px;
            }

            .search-bar-container {
                max-width: 551px;

                .search-bar {
                    .search-bar-bottom-line {
                        width: 505px;
                    }
                }
            }
        } // -------------------- END PRESENTATION SECTION -------------------

        // -------------------- START TRENDING TERMS SECTION --------------------
        .trending-terms-section {
            margin-top: 31px;

            .trending-title-container {
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: $violet-color;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .trending-terms-container {
                width: 600px;
                text-align: center;

                .trending-search-term {
                    font-size: 16px;
                }
            }
        } // -------------------- END TRENDING TERMS SECTION --------------------

        // -------------------- START SEARCH RESULT SECTION --------------------
        .search-results-section {
            .search-result-separator {
                width: 338px;
                margin-top: 74px;
                margin-bottom: 84px;
            }
    
            .search-result-title {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 59px;
            }

            .search-result-container {
                grid-template-columns: repeat(4, minmax(220px, 330px));
                gap: 30px;
                padding: 0 156px;

                .gif-container {
                    position: relative;
                    height: 200px;
                    width: 100%;
    
                    .gif {
                        height: 100%;
                        width: 100%;
                    }
                
                    /* The overlay effect (full height and width) - lays on top of the container and over the image */
                    .overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .2s ease;
                        background-color: #572EE5;
                    }
    
                    .icon-container {
                        display: flex;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        opacity: 0;
    
                        .icon {
                            margin-right: 5px;
                        }
                
                        .icon-fav {
                            @include loadGifIcon("../../../assets/images/icon/icon-fav.svg");
                            opacity: 0.7;
                    
                            &:hover {
                                background-image: url("../../../assets/images/icon/icon-fav-hover.svg");
                                background-color: #FFFFFF;
                                opacity: 1;
                            }
                    
                            &:active {
                                background-image: url("../../../assets/images/icon/icon-fav-active.svg");
                                background-color: #FFFFFF;
                                transform: scale(0.98);
                            }
                        }
    
                        .icon-download {
                            @include loadGifIcon("../../../assets/images/icon/icon-download.svg");
                            opacity: 0.7;
                    
                            &:hover {
                                background-image: url("../../../assets/images/icon/icon-download-hover.svg");
                                background-color: #FFFFFF;
                                opacity: 1;
                            }
    
                            &:active {
                                transform: scale(0.98);
                            }
                        }
                    
                        .icon-max {
                            @include loadGifIcon("../../../assets/images/icon/icon-max-normal.svg");
                            opacity: 0.7;
                    
                            &:hover {
                                background-image: url("../../../assets/images/icon/icon-max-hover.svg");
                                background-color: #FFFFFF;
                                opacity: 1;
                            }
    
                            &:active {
                                transform: scale(0.98);
                            }
                        }
                    }
    
                    .gif-user {
                        position: absolute;
                        bottom: 80px;
                        left: 18px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        color: $white-color;
                        text-align: left;
                        opacity: 0;
                        display: block;
                    }
    
                    .gif-title {
                        position: absolute;
                        bottom: 40px;
                        left: 18px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        color: $white-color;
                        text-align: left;
                        opacity: 0;
                        height: 36px;
                        display: block;
                    }
    
                    /* When you mouse over the container, fade in the overlay titles and icons*/
                    &:hover {
                        .overlay {
                            opacity: 0.6;
                        }
    
                        .icon-container {
                            opacity: 1;
                        }
    
                        .gif-user {
                            opacity: 1;
                        }
    
                        .gif-title {
                            opacity: 1;
                        }
                    }
                }

                .no-results-container {
                    grid-column: 1 / span 5;
                }
            }
        } // -------------------- END SEARCH RESULT SECTION --------------------

        // -------------------- START TRENDING GIFOS SECTION --------------------
        .trending-gifos-section {
            background-color: $smoke-color;
            margin-top: 45px;
            padding-bottom: 182px;

            .trending-gifos-title-container {
                padding-top: 67px;

                h2 {
                    font-size: 25px;
                    margin-bottom: 12px;
                }

                .last-gifos-mobile {
                    display: none;
                }
    
                .last-gifos-desktop {
                    display: inline-block;
                }

                p {
                    width: 400px;
                    height: 21px;
                    font-size: 18px;
                }
            }

            .trending-gifos-container {
                display: flex;
            }
        } // -------------------- END TRENDING GIFOS SECTION --------------------
    } // -------------------- END MAIN --------------------

    // -------------------- START FOOTER --------------------
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        height: 116px;
        padding: 0 155px;

        .footer-social-container {
            display: flex;
            flex-direction: row;

            h3 {
                font-size: 13px;
                align-self: center;
            }

            .social-icon-container {
                padding: 0;
            }
        }

        .brand-container {
            padding: 0;

            h3 {
                font-size: 13px;
            }
        }
    } // -------------------- END FOOTER --------------------
}